<div class="col-lg-6 col-lg-push-3">
	<div class="panel panel-default">
	<div class="panel-heading">
		用户注册
	</div>
    <div class="panel-body">
<form id = "userRegisterForm">
  <div class="form-group">
    <label for="account">用户名/账号</label>
    <input type="text" class="form-control" name = "account" id = "account" placeholder="请输入用户名(用户名长度大于6)"  value="2222222" >
  </div>
  <div class="form-group">
    <label for="name">昵称/姓名</label>
    <input type="text" class="form-control" name = "name" id = "name" placeholder="请输入昵称" value="222222" >
  </div>
  <div class="form-group">
    <label for="password">密码</label>
    <input type="password" class="form-control" id="password" name = "password" placeholder="请输入密码(密码大于6位)" value="222222222" >
  </div>
    <div class="form-group">
    <label for="password2">重复输入密码</label>
    <input type="password" class="form-control" id="password2" name = "password2" placeholder="重复输入密码" value="222222222" >
  </div>
   <div class="form-group">
    <label for="email">请输入邮箱</label>
    	
    <input type="email" class="form-control" id="email" name = "email" placeholder="请输入邮箱地址"value="22297749@qq.com"  >
  </div>
    <div class="form-group">
    	
    <input type="button" class="form-control btn btn-default" onclick="getVerCodeByServer();" id="btnSendCode" value="获取验证码"></input>
  </div>
     <div class="form-group">
    <label for="verCode">请输入验证码</label>
    	
    <input type="text" class="form-control" id="verCode" name = "verCode" placeholder="请输入验证码">
    
  </div>
       <div class="form-group">
    	
    	<button type="button" class="form-control" onclick="userRegister();">注册</button>
    
  </div>
</form>
        
        
    </div>
</div>
</div>

<script src="myjs/register_fragment.js"></script>