<div class="col-lg-12">
<div class="well text-center">
	<h3>系统操作说明</h3></div>
<div class="panel panel-default">
  <div class="panel-body">
  项目是UNISOL通过三维仿真技术的软硬件结合，情景化地展示深潜器从海面逐步下潜到海底，及采集样本勘探作业的整个过程的模拟。航行过程中，操作者可选择第一人称视角下观察船舱内部，或以第三人称视角观察船体模拟环境。当确定采集目标后，操作者可调整远近光等，操作机械臂进行采集模拟。

下潜状态模拟：操作者可通过驾驶室控制系统让深潜器进行海面航行或海底潜入，系统操作响应时间保证小于1秒，支持通用摇杆操作。在下潜过程中，以第三人称视角观察周围景观的变化及深潜器的行驶姿态。

工作场景模拟：深潜器到达一定深度将自动激活或手动激活场景选择菜单，镜头将切换至相应场景内。舱内操作台上包括仪表盘、控制面板、GPS定位导航、雷达功能等，仪表盘和显示系统数值实时变化，能直观反映深潜器当时的航行相关信息。此时，操作者以第一人称视角观察舱内及通过悬窗观察窗外视景。

工作过程模拟：操作员可控制机械手，进行简单取样动作，当确定目标采集物后将镜头切换至舱内舷窗视角，调整远近光灯，操作机械臂进行采集模拟。

技术突破：UNISOL充分考虑深潜器表面与海水的摩擦、螺旋桨推动以及船体产生的表面兴波的影响，基于粒子系统的方法，通过改变浪尖处粒子的位置、速度、颜色来实现船舶尾迹、水花等效果。不止于细致的海上及海面场景模拟，UNISOL更具备行业领先的海底场景仿真技术。逼真还原不同日照光线强度，不同浑浊度的水下视角。根据所处坐标与水下深度，最大程度贴近不同海域的特征，生成符合现实的海底地形，例如大陆边缘、大洋盆地和大洋中脊，以及丰富的生态环境。
  </div>
</div>
</div>