<div class="col-lg-12">
	<div class="page-header">
		<img src="img/logo.png">
	</div>
</div>
<div class="col-lg-12">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="main.html">
					主页
				</a>
				<a class="navbar-brand" onclick="loadCenterDiv('fragment/registerDiv_fragment.html');">
					用户注册
				</a>
				<a class="navbar-brand" onclick="loadCenterDiv('fragment/system_info_fragment.html');">
					系统操作说明
				</a>
				<a class="navbar-brand" onclick="loadCenterDiv('fragment/component_fragment.html')">
					系统组件列表
				</a>
				<a class="navbar-brand" onclick="loadCenterDiv('fragment/file_fragment.html')">
					系统课件
				</a>
				<a class="navbar-brand" onclick="loadCenterDivPlus('right_fragment/exam_create_ques_fragment.html')">
					在线考试
				</a>
				
			</div>
			<div id = "uInfoDiv">
			<a class="navbar-brand pull-right" onclick="userLoginModal();">
					登陆
			</a>
			<a class="navbar-brand pull-right" onclick="userLoginModal();">
					忘记密码
			</a>
			</div>
		</div>
	</nav>
</div>

<script src="myjs/top.js"></script>