
		<div class="well">
			<form class="form-inline" id = "userListForm">
				<div class="form-group">
					用户账号：
					<label class="sr-only" for="exampleInputEmail3">userAccount</label>
					<input type="text" class="form-control" id="userAccount" name="account" placeholder="用户账号">
				</div>
				<div class="form-group">
					用户名称：
					<label class="sr-only" for="exampleInputPassword3">userName</label>
					<input type="text" class="form-control" id="userName" name="name" placeholder="用户名称">
				</div>
				
				<button type="button" class="btn btn-default" onclick="getUserList();">搜索</button>
			</form>

		</div>

		<table class="table">
  <thead>
    <tr>
    <th>用户账号</th>
    <th>用户名称/th>
    <th>用户邮箱</th>
    <th>重置密码</th>
    <th>登陆统计</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>第一章:发动机原理</td>
      <td>2017-12-01</td>
      <td>PPT</td>
      <td>5mb</td>
      <td>
      	<a href="img/cat.jpg" download="下载">下载</a>
      </td>
       <td>
      	<a href="img/cat.jpg">删除课件</a>
      </td>
    </tr>
   <tr>
      <td>第一章:发动机原理</td>
      <td>2017-12-01</td>
      <td>PPT</td>
      <td>5mb</td>
      <td>
      	<a href="img/cat.jpg" download="下载">下载</a>
      </td>
       <td>
      	<a href="img/cat.jpg">删除课件</a>
      </td>
    </tr>
     <tr>
      <td>第一章:发动机原理</td>
      <td>2017-12-01</td>
      <td>PPT</td>
      <td>5mb</td>
      <td>
      	<a href="img/cat.jpg" download="下载">下载</a>
      </td>
       <td>
      	<a href="img/cat.jpg">删除课件</a>
      </td>
    </tr>
     <tr>
      <td>第一章:发动机原理</td>
      <td>2017-12-01</td>
      <td>PPT</td>
      <td>5mb</td>
      <td>
      	<a href="img/cat.jpg" download="下载">下载</a>
      </td>
       <td>
      	<a href="img/cat.jpg">删除课件</a>
      </td>
    </tr>
     <tr>
      <td>第一章:发动机原理</td>
      <td>2017-12-01</td>
      <td>PPT</td>
      <td>5mb</td>
      <td>
      	<a href="img/cat.jpg" download="下载">下载</a>
      </td>
       <td>
      	<a href="img/cat.jpg">删除课件</a>
      </td>
    </tr>
  </tbody>
</table>
		<div class="col-lg-12">
			<div class="col-lg-6" style="margin: 20px;">
				<span>
					总共<span id="pageNum">10</span>页,共<span id="size">20</span>条.
				</span>
			</div>
			<div class="col-lg-5">
				<ul class="pagination">
					<li>
						<a href="#">&laquo;</a>
					</li>
					<li>
						<a href="#">1</a>
					</li>
					<li>
						<a href="#">2</a>
					</li>
					<li>
						<a href="#">3</a>
					</li>
					<li>
						<a href="#">4</a>
					</li>
					<li>
						<a href="#">5</a>
					</li>
					<li>
						<a href="#">&raquo;</a>
					</li>
				</ul>
			</div>
		</div>
	</div>