<div class="col-lg-3">
	<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            统计功能
        </h3>
    </div>
           
<ul class="list-group">
    <li class="list-group-item" onclick="getUserList();">用户统计</li>
    <li class="list-group-item" onclick="getExamList();">考试统计</li>
</ul>
    
</div>
</div>
<div class="col-lg-9">
	<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
         统计列表
        </h3>
    </div>
    <div class="panel-body" id = "countDiv">
        
    </div>
</div>
</div>

<script>
	function getUserList(){
		loadDivFragment("fragment/userlog_fragment.html","countDiv");
		
	}
	function getExamList(){
		loadDivFragment("fragment/question_count_fragment.html","countDiv");
	}
</script>