
<div class="panel-group" id="accordion" >
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" 
				   href="#mycourse">
					我的课程
				</a>
			</h4>
		</div>
		<div id="mycourse" class="panel-collapse collapse in">
	<ul class="list-group">
        <li class="list-group-item" onclick="loadRightDiv('right_fragment/course_mycourse_fragement.html');">我的课程</li>
        <li class="list-group-item" onclick="loadRightDiv('right_fragment/course_create_mycourse_fragment.html');">新建课程</li>
    </ul>
		</div>
	</div>

</div>

<div class="panel-group" id="accordion" >
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" 
				   href="#mycoursefile">
					课件库管理
				</a>
			</h4>
		</div>
		<div id="mycoursefile" class="panel-collapse collapse in">
			<ul class="list-group">
        <li class="list-group-item" onclick="loadRightDiv('right_fragment/courseFile_ownFiles_fragment.html');">我的所有课件</li>
        <li class="list-group-item" onclick="loadRightDiv('right_fragment/courseFile_uploadFile_fragment.html');">上传课件/文件</li>
        <li class="list-group-item" onclick="loadRightDiv('right_fragment/courseFile_forClazzFile_fragment.html');">为班级分配课件</li>
    </ul>
		</div>
	</div>

</div>

<div class="panel-group" id="accordion" >
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" 
				   href="#exam">
					考试管理
				</a>
			</h4>
		</div>
		<div id="exam" class="panel-collapse collapse in">
			<ul class="list-group">
        <li class="list-group-item" onclick="loadRightDiv('right_fragment/exam_create_ques_fragment.html');" >新建客观题</li>
        <li class="list-group-item" onclick="loadRightDiv('right_fragment/exam_create_ques2_fragment.html');">新建主观题</li>
        <li class="list-group-item" onclick="loadRightDiv('right_fragment/exam_create_testPaper_fragment.html');">新建检测试卷</li>
        <li class="list-group-item" onclick="loadRightDiv('right_fragment/exam_create_discountPaper_fragment.html');" >新建拆装实验试卷</li>
        <li class="list-group-item" onclick="loadRightDiv('right_fragment/exam_create_paperForStu_fragment.html');">分配试卷</li>
        <li class="list-group-item" onclick="loadRightDiv('right_fragment/exam_getExamStatus_fragment.html');">查看考试状态</li>
        
    </ul>
		</div>
	</div>

</div>