<div class="col-lg-4">

<div class="panel panel-default">
	<div class="panel-heading">
		用户信息
		<span style="float: right;">
			<a onclick="changePassword();">修改密码</a>
		</span>
	</div>
    <div class="panel-body">
    	<div class="col-lg-8">
    		<h4>吕晨阳老师，欢迎您...</h4>
    		<small>您有2个待办任务</small>
    	</div>
    	<div class="col-lg-4">
    		<a href="#" class="thumbnail">
            <img src="img/userlogo.jpg"
                 alt="通用的占位符缩略图">
       		 </a>
    	</div>
        
        
    </div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		友情链接
	</div>
    <div class="panel-body">
    	 <div class="col-lg-6">
         <div class="thumbnail">
            <img src="img/cat.png" 
             alt="通用的占位符缩略图">
            <div class="caption">
                <a href="http://www.tsinghua.edu.cn/publish/thu2018/index.html">离校系统</a>
                
            </div>
         </div>
         
    </div>
    	   <div class="col-lg-6">
         <div class="thumbnail">
            <img src="img/cat.png" 
             alt="通用的占位符缩略图">
            <div class="caption">
                <a href="http://www.tsinghua.edu.cn/publish/thu2018/index.html">教务系统</a>
                
            </div>
         </div>
         
    </div>
    	   <div class="col-lg-6">
         <div class="thumbnail">
            <img src="img/cat.png" 
             alt="通用的占位符缩略图">
            <div class="caption">
                <a href="http://www.tsinghua.edu.cn/publish/thu2018/index.html">一卡通</a>
                
            </div>
         </div>
         
    </div>
    	   <div class="col-lg-6">
         <div class="thumbnail">
            <img src="img/cat.png" 
             alt="通用的占位符缩略图">
            <div class="caption">
                <a href="http://www.tsinghua.edu.cn/publish/thu2018/index.html">网上缴费系统</a>
                
            </div>
         </div>
         
    </div>
    	   <div class="col-lg-6">
         <div class="thumbnail">
            <img src="img/cat.png" 
             alt="通用的占位符缩略图">
            <div class="caption">
                <a href="http://www.tsinghua.edu.cn/publish/thu2018/index.html">图书馆系统</a>
                
            </div>
         </div>
         
    </div>
    	   <div class="col-lg-6">
         <div class="thumbnail">
            <img src="img/cat.png" 
             alt="通用的占位符缩略图">
            <div class="caption">
                <a href="http://www.tsinghua.edu.cn/publish/thu2018/index.html">网络教学平台</a>
                
            </div>
         </div>
         
    </div>
    	   <div class="col-lg-6">
         <div class="thumbnail">
            <img src="img/cat.png" 
             alt="通用的占位符缩略图">
            <div class="caption">
                <a href="http://www.tsinghua.edu.cn/publish/thu2018/index.html">教辅系统</a>
                
            </div>
         </div>
         
    </div>
    	   <div class="col-lg-6">
         <div class="thumbnail">
            <img src="img/cat.png" 
             alt="通用的占位符缩略图">
            <div class="caption">
                <a href="http://www.tsinghua.edu.cn/publish/thu2018/index.html">论文系统</a>
                
            </div>
         </div>
         
    </div>
        
        
    </div>
</div>
</div>
<div class="col-lg-8">
<div class="panel panel-default">
	<div class="panel-heading">
		课程信息
		<span style="float: right;">
			<a onclick="loadCenterDiv("");">更多...</a>
		</span>
	</div>
    <div class="panel-body">
    	
<table class="table">
  <thead>
    <tr>
      <th>课程学年</th>
      <th>课程名称</th>
      <th>课程班级</th>
      <th>查看课件</th>
      <th>课件管理</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2018</td>
      <td>发动机原理</td>
      <td>15级机械工程1班</td>
      <td>
      	<a onclick="getCourseFile();">查看课件</a>
      </td>
      <td>
      	<a onclick="changeCourseFile();">课件管理</a>
      </td>
    </tr>
     <tr>
      <td>2018</td>
      <td>发动机原理</td>
      <td>15级机械工程2班</td>
      <td>
      	<a onclick="getCourseFile();">查看课件</a>
      </td>
      <td>
      	<a onclick="changeCourseFile();">课件管理</a>
      </td>
    </tr>
         <tr>
      <td>2018</td>
      <td>发动机原理</td>
      <td>15级机械工程3班</td>
      <td>
      	<a onclick="getCourseFile();">查看课件</a>
      </td>
      <td>
      	<a onclick="changeCourseFile();">课件管理</a>
      </td>
    </tr>
  </tbody>
</table>

        
        
    </div>
</div>	

<div class="panel panel-default">
	<div class="panel-heading">
		课件管理
		<span style="float: right;">
			<a onclick="loadCenterDiv("");">更多...</a>
		</span>
	</div>
    <div class="panel-body">
    	
<table class="table">
  <thead>
    <tr>
      <th>课件名称</th>
      <th>课件上传时间</th>
      <th>课件类型</th>
      <th>课件大小</th>
      <th>课件下载</th>
      <th>删除课件</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>发动机原理-第一章</td>
      <td>2018-03-03</td>
      <td>doc</td>
      <td>
      	10m
      </td>
      <td>
      	<a onclick="" download="课件">课件下载</a>
      </td>
        <td>
      	<a onclick="deleteCourseFile('1');">删除课件</a>
      </td>
    </tr>
        <tr>
      <td>发动机原理-第二章</td>
      <td>2018-03-03</td>
      <td>doc</td>
      <td>
      	10m
      </td>
      <td>
      	<a onclick="" download="课件">课件下载</a>
      </td>
        <td>
      	<a onclick="deleteCourseFile('1');">删除课件</a>
      </td>
    </tr>
        <tr>
      <td>发动机原理-第三章</td>
      <td>2018-03-03</td>
      <td>doc</td>
      <td>
      	10m
      </td>
      <td>
      	<a onclick="" download="课件">课件下载</a>
      </td>
        <td>
      	<a onclick="deleteCourseFile('1');">删除课件</a>
      </td>
    </tr>
     <tr>
      <td>发动机原理-第三章</td>
      <td>2018-03-03</td>
      <td>doc</td>
      <td>
      	10m
      </td>
      <td>
      	<a onclick="" download="课件">课件下载</a>
      </td>
        <td>
      	<a onclick="deleteCourseFile('1');">删除课件</a>
      </td>
    </tr>
     <tr>
      <td>发动机原理-第三章</td>
      <td>2018-03-03</td>
      <td>doc</td>
      <td>
      	10m
      </td>
      <td>
      	<a onclick="" download="课件">课件下载</a>
      </td>
        <td>
      	<a onclick="deleteCourseFile('1');">删除课件</a>
      </td>
    </tr>
  </tbody>
</table>

        
        
    </div>
</div>	


<div class="panel panel-default">
	<div class="panel-heading">
		考试管理
		<span style="float: right;">
			<a onclick="loadCenterDiv("");">更多...</a>
		</span>
	</div>
    <div class="panel-body">
    	
<table class="table">
  <thead>
    <tr>
      <th>课件学年</th>
      <th>课程名称</th>
      <th>课件班级</th>
      <th>考试名称</th>
      <th>创建考试时间</th>
      <th>考试状态</th>
      <th>发送邮件</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2018</td>
      <td>发动机原理</td>
      <td>15级机械工程1班</td>
      <td>
      	第一章课堂检测
      </td>
      <td>
      	2018-03-06
      </td>
        <td>
      	<a onclick="getCourseState('1');">查看考试状态</a>
      </td>
      <td>
      	<a onclick="sendEmail('id');">发送邮件</a>
      </td>
    </tr>
           <tr>
      <td>2018</td>
      <td>发动机原理</td>
      <td>15级机械工程1班</td>
      <td>
      	第二章课堂检测
      </td>
      <td>
      	2018-03-06
      </td>
        <td>
      	<a onclick="getCourseState('1');">查看考试状态</a>
      </td>
      <td>
      	<a onclick="sendEmail('id');">发送邮件</a>
      </td>
    </tr>
        <tr>
      <td>2018</td>
      <td>发动机原理</td>
      <td>15级机械工程1班</td>
      <td>
      	第二章课堂检测
      </td>
      <td>
      	2018-03-06
      </td>
        <td>
      	<a onclick="getCourseState('1');">查看考试状态</a>
      </td>
      <td>
      	<a onclick="sendEmail('id');">发送邮件</a>
      </td>
    </tr>
  </tbody>
</table>

        
        
    </div>
</div>


	<div class="col-lg-12">
			<div class="col-lg-6 ">
         <div class="thumbnail">
           
            <div class="caption">
                <h3>拆装系统CS端下载</h3>
                <p>CS端模型更加清晰，电脑配置要求比较高。</p>
                <p>
                    
                    <a href="img/cat.jpg" class="btn btn-default"  download="CS端">
                        下载
                    </a>
                </p>
            </div>
         </div>
    </div>
				<div class="col-lg-6 ">
         <div class="thumbnail">
           
            <div class="caption">
                <h3>拆装系统在线练习</h3>
                <p>BS端可在线练习</p>
                <p>
                  
                    <a href="EngineWeb/index.html" class="btn btn-default" role="button">
                        去练习
                    </a>
                </p>
            </div>
         </div>
    </div>
		</div>	

</div>


<script src="myjs/main.js"></script>