<div class="col-lg-12">
	<div class="page-header">
		<img src="img/logo.png">
	</div>
</div>
<div class="col-lg-12">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="main.html">
					主页
				</a>
				<a class="navbar-brand" onclick="loadCenterDivPlus('right_fragment/course_mycourse_fragement.html');">
					我的课程
				</a>
				<a class="navbar-brand" onclick="loadCenterDivPlus('right_fragment/course_create_mycourse_fragment.html');">
				课件库管理
				</a>
				<a class="navbar-brand" href="EngineWeb/index.html">
					虚拟拆装实验
				</a>
				<a class="navbar-brand" onclick="loadCenterDivPlus('right_fragment/exam_create_ques_fragment.html')">
				考试管理	
				</a>
			</div>
			<div class="navbar-right">
				<a class="navbar-brand" href="login.html">
					注销
				</a>

			</div>
		</div>
	</nav>
</div>