	<style type="text/css">
		
		.drop{
	width: 100%;
	min-height: 150px;
	display: inline-block;
	border: 1px solid #036BB5;
	padding: 10px;
		}
		.drag{
	width: 100px;
	height: 100px;
	overflow: hidden;
	display: inline-block;
	margin-right: 10px;			
		}
		.drag img{
			width: 100%;
			height: 100%;
		}
		</style>


<div class="col-lg-12">
	
<div class="well center" id = "quesName" queId = "1" >汽车发动机基本知识试卷(标准答案)</div>

<div class="well">
<h5>一、单选题(答案请勾选)</h5>
<div class= "singleSelect">
<label for="name">1.扭曲环所以会扭曲是因为()。(10分)</label>
<br/>
<div class="radio">
    <label>
        <input type="radio" name="optionsRadios" id="optionsRadios1" value="1" > A、加工成扭曲；
    </label>
</div>
<div class="radio">
    <label>
        <input type="radio" name="optionsRadios" id="optionsRadios2" value="2" checked>B、环断面不对称；
    </label>
</div>

<div class="radio">
    <label>
        <input type="radio" name="optionsRadios" id="optionsRadios2" value="3">C、气体压力的作用；
    </label>
</div>
<div class="radio">
    <label>
        <input type="radio" name="optionsRadios" id="optionsRadios2" value="4" >D、惯性力的作用力
    </label>
</div>
</div>
<div class= "singleSelect">
<label for="name">2.为保证发动机正常工作，混合气浓度应控制在（）范围。(10分)</label>
<br/>



<div class="radio">
    <label>
        <input type="radio" name="optionsRadios2" id="optionsRadios1" value="option1" checked>A．a＝1．05～1．15
    </label>
</div>
<div class="radio">
    <label>
        <input type="radio" name="optionsRadios2" id="optionsRadios2" value="option2">B．a＝0．85～0．95
    </label>
</div>

<div class="radio">
    <label>
        <input type="radio" name="optionsRadios2" id="optionsRadios2" value="option2">C．a＝0．88～1．11
    </label>
</div>
</div>

</div>



<div class="well">
<h5>二、多选题(答案请勾选)</h5>
<div class="multSelect">
<label for="name">1．四冲程柴油发动机在进行进气行程时，进入气缸的是（）。(10分)</label>
<br/>
<div class="checkbox-inline">
    <label><input type="checkbox" value="" checked>A.纯空气</label>
</div>
<div class="checkbox-inline">
    <label><input type="checkbox" value="">B.氧气</label>
</div>
<div class="checkbox-inline">
    <label><input type="checkbox" value="" checked>C.可燃混合气</label>
</div>
<div class="checkbox-inline">
    <label><input type="checkbox" value="">D.纯燃料</label>
</div>
</div>

<div class="multSelect">
<label for="name">
2．如果节温器阀门打不开，发动机将会出现（）的现象。(10分)</label>
<br/>
<div class="checkbox-inline">
    <label><input type="checkbox" value="">A、温升慢</label>
</div>
<div class="checkbox-inline">
    <label><input type="checkbox" value="" checked>B、温升快</label>
</div>
<div class="checkbox-inline">
    <label><input type="checkbox" value="">C、不能起动</label>
</div>
<div class="checkbox-inline">
    <label><input type="checkbox" value="" checked>D、怠速不稳定
</label>
</div>
</div>




</div>
<div class="well">
<h5>三、排序选择题(答案请勾选)</h5>
<div class="picSelect">
	
<label for="name">
1．请从下列四个选项中挑选出组装汽车所需要的工具。(10分)</label>
	<div class="drop" xq_drop="true" >
		已选择项：
			<div class="drag" xq_drag="true" id="1">
				<img  src="img/a1.png" ondragstart="return false"/>
			</div>
			<div class="drag" xq_drag="true" id="2">
				<img  src="img/a2.png" ondragstart="return false"/>
			</div>
		</div>
		<div class="drop" xq_drop="true">
			
			<div class="drag" xq_drag="true" id="3">
				<img  src="img/a3.png" ondragstart="return false"/>
			</div>
			<div class="drag" xq_drag="true" id="4">
				<img  src="img/a4.png" ondragstart="return false"/>
			</div>
		</div>
</div>

<div class="picSelect">
	
<label for="name">
2．请对下列各组件进行安装位置排序。(10分)</label>
		<div class="drop" xq_drop="true">
			
			<div class="drag" xq_drag="true" id="2">
				<img  src="img/a2.png" ondragstart="return false"/>
			</div>
			<div class="drag" xq_drag="true" id="3">
				<img  src="img/a3.png" ondragstart="return false"/>
			</div>
			<div class="drag" xq_drag="true" id="4">
				<img  src="img/a4.png" ondragstart="return false"/>
			</div>
			<div class="drag" xq_drag="true" id="1">
				<img  src="img/a1.png" ondragstart="return false"/>
			</div>
			<div class="drag" xq_drag="true" id="2">
				<img  src="img/a2.png" ondragstart="return false"/>
			</div>
			<div class="drag" xq_drag="true" id="3">
				<img  src="img/a3.png" ondragstart="return false"/>
			</div>
			<div class="drag" xq_drag="true" id="4">
				<img  src="img/a4.png" ondragstart="return false"/>
			</div>
			<div class="drag" xq_drag="true" id="1">
				<img  src="img/a1.png" ondragstart="return false"/>
			</div>
			<div class="drag" xq_drag="true" id="2">
				<img  src="img/a2.png" ondragstart="return false"/>
			</div>
			<div class="drag" xq_drag="true" id="3">
				<img  src="img/a3.png" ondragstart="return false"/>
			</div>
			<div class="drag" xq_drag="true" id="4">
				<img  src="img/a4.png" ondragstart="return false"/>
			</div>
		</div>
		<div style="margin-top: 10px;margin-bottom: 10px; width: 100%; ">
		<div class="drop" xq_drop="true" style="width: 30%;">
			<div class="drag" xq_drag="true" id="1">
				<img  src="img/a1.png" ondragstart="return false"/>
			</div>
		</div>
		<div class="drop" xq_drop="true" style="width: 30%;">
			<div class="drag" xq_drag="true" id="1">
				<img  src="img/a2.png" ondragstart="return false"/>
			</div>
		</div>
		<div class="drop" xq_drop="true" style="width: 30%;"></div>
		</div>
			<div style="margin-top: 10px;margin-bottom: 10px; width: 100%; ">
		<div class="drop" xq_drop="true" style="width: 30%;"></div>
		<div class="drop" xq_drop="true" style="width: 30%;"></div>
		<div class="drop" xq_drop="true" style="width: 30%;"></div>
		</div>
			<div style="margin-top: 10px;margin-bottom: 10px; width: 100%; ">
		<div class="drop" xq_drop="true" style="width: 30%;"></div>
		<div class="drop" xq_drop="true" style="width: 30%;"></div>
		<div class="drop" xq_drop="true" style="width: 30%;"></div>
		</div>
		
</div>

</div>

<div class="well">
<h5>四、主观简答题(答案请勾选)</h5>
	<div class="selfQues">
  <div class="form-group">
    <label for="name">1.什么是干式缸套？（3分）什么是湿式缸套？（3分）各有何优点？（20分）</label>
    <textarea class="form-control" rows="3" id = "ta" disabled>
    	干式气缸套的特点是气缸套装入气缸体后，其外壁不直接与冷却水接触，而和气缸体的壁面直接接触，壁厚较薄，一般为1～3mm。
湿式气缸套的特点是气缸套装入气缸体后，其外壁直接与冷却水接触，气缸套仅在上、下各有一圆环地带和气缸体接触，壁厚一般为5～9mm。
干式缸套具有整体式气缸体的优点，强度和刚度都较好，但加工比较复杂，内、外表面都需要进行精加工，拆装不方便，散热不良。
湿式缸套它散热良好，冷却均匀，加工容易，通常只需要精加工内表面，而与水接触的外表面不需要加工，拆装方便，但缺点是强度、刚度都不如干式气缸套好，而且容易产生漏水现象。
    	
    </textarea>
  </div>
<div class="selfQues">
  <div class="form-group">
    <label for="name">
2．活塞环在安装前如何进行选配？（20分）</label>
    <textarea class="form-control" rows="3" disabled>
    	活塞环设有修理尺寸，但不因气缸和活塞分组。活塞环在安装前应该按下列三个方面进行选配：
1).活塞环的弹力检验
2).活瑞环的漏光度检验
3）活塞环“三隙”的检验端隙又称为开口间隙，是活塞环装入气缸后，该环在上止点时环的两端头的间隙或活塞环在标准环内两端头的间隙。一般为0．25~0．50mm之间。
侧隙又称边隙，是指活塞环装入活塞后，其侧面与活塞环槽之间的间隙。第一环一般为0．04~0．10mm；其他环一般为0．03~0．07mm。油环的侧隙较小，一般为0．025~0．07mm。
背隙是活塞及活塞环装入气缸后，活塞环内圆柱面与活塞环槽底部间的间隙，为0．5~lmm。
    	
    </textarea>
  </div>

</div>

</div>

	
</div>


<script src="js/XQ_drag.js"></script>

<script>
	function getSingleSelectValByName(name){
		$('input:radio[name="optionsRadios"]:checked').val();
	}
	function setTextAreaText(){
		var tList = $("textarea");
		$.each(tList, function(id,value) {
			$(value).text($(value).val());
		});
	}
	
	$(document).ready(function(){
		$("input:radio").click(function(id){
			var name = $(this).attr("name");
			$('input:radio[name='+name+']').removeAttr("checked");
			$(this).attr("checked",true);
			
		});
		$("input:checkbox").click(function(id){
			var ch = $(this).attr("checked");
			if(ch == null){
				$(this).attr("checked",true);
			}else{
				$(this).removeAttr("checked");
			}
		});
		
		$("input:checkbox").addClass("disabled");
		$("input:radio").addClass("disabled");
	});
	
	function saveQuesPage(userId,beginTime){
		var quesPage = $("#questionPage").html();
		var queId = $("#quesName").attr("queId");
		var score = getSocre();
		var data = {
			"userId" : userId,
			"queId" : queId,
			"quesPage":quesPage,
			"score":score,
			"beginTime":beginTime
		};
		data = JSON.stringify(data);
		getServer(data,apiUrl_v1_saveQuesPage,"","");
		//查看我的试卷 <=> 查看正确答案试卷
		userQuesPageScore = score;
		showSimpleModal("myModal","您的成绩","您获得了"+score+"分，请再接再厉呦!","modal/saveQuesFooter_modal.html");
		
	}
	function getSocre(){
		
		return 100;
	}
	
	function getQuesPageJson(){
		var queId = $("#quesName").attr("queId");
		var singleSelectJSONObject = getSingleSelects();
		var multSelectJSONObject = getMultSelects();
		var sortSelectJSONObject = getSortSelects();
		var areaJSONObject = getAreaTexts();
		
	}
	function finshQuesPage(){
		var userId = userInfo.id;
		var beginTime = quesBeginTime;
		saveQuesPage(userId,beginTime);
		
	}
</script>