	<style type="text/css">
		
		.drop{
	width: 100%;
	min-height: 150px;
	display: inline-block;
	border: 1px solid #036BB5;
	padding: 10px;
		}
		.drag{
	width: 100px;
	height: 100px;
	overflow: hidden;
	display: inline-block;
	margin-right: 10px;			
		}
		.drag img{
			width: 100%;
			height: 100%;
		}
		</style>


<div class="col-lg-12">
	
<div class="well center" id = "quesName" queId = "1" >汽车发动机基本知识试卷</div>

<div class="well">
<h5>一、单选题(答案请勾选)</h5>
<div class= "singleSelect">
<label for="name">1.扭曲环所以会扭曲是因为()。(10分)</label>
<br/>
<div class="radio">
    <label>
        <input type="radio" name="optionsRadios" id="optionsRadios1" value="1" > A、加工成扭曲；
    </label>
</div>
<div class="radio">
    <label>
        <input type="radio" name="optionsRadios" id="optionsRadios2" value="2">B、环断面不对称；
    </label>
</div>

<div class="radio">
    <label>
        <input type="radio" name="optionsRadios" id="optionsRadios2" value="3">C、气体压力的作用；
    </label>
</div>
<div class="radio">
    <label>
        <input type="radio" name="optionsRadios" id="optionsRadios2" value="4" >D、惯性力的作用力
    </label>
</div>
</div>
<div class= "singleSelect">
<label for="name">2.为保证发动机正常工作，混合气浓度应控制在（）范围。(10分)</label>
<br/>



<div class="radio">
    <label>
        <input type="radio" name="optionsRadios2" id="optionsRadios1" value="option1">A．a＝1．05～1．15
    </label>
</div>
<div class="radio">
    <label>
        <input type="radio" name="optionsRadios2" id="optionsRadios2" value="option2">B．a＝0．85～0．95
    </label>
</div>

<div class="radio">
    <label>
        <input type="radio" name="optionsRadios2" id="optionsRadios2" value="option2">C．a＝0．88～1．11
    </label>
</div>
</div>

</div>



<div class="well">
<h5>二、多选题(答案请勾选)</h5>
<div class="multSelect">
<label for="name">1．四冲程柴油发动机在进行进气行程时，进入气缸的是（）。(10分)</label>
<br/>
<div class="checkbox-inline">
    <label><input type="checkbox" value="">A.纯空气</label>
</div>
<div class="checkbox-inline">
    <label><input type="checkbox" value="">B.氧气</label>
</div>
<div class="checkbox-inline">
    <label><input type="checkbox" value="">C.可燃混合气</label>
</div>
<div class="checkbox-inline">
    <label><input type="checkbox" value="">D.纯燃料</label>
</div>
</div>

<div class="multSelect">
<label for="name">
2．如果节温器阀门打不开，发动机将会出现（）的现象。(10分)</label>
<br/>
<div class="checkbox-inline">
    <label><input type="checkbox" value="">A、温升慢</label>
</div>
<div class="checkbox-inline">
    <label><input type="checkbox" value="">B、温升快</label>
</div>
<div class="checkbox-inline">
    <label><input type="checkbox" value="">C、不能起动</label>
</div>
<div class="checkbox-inline">
    <label><input type="checkbox" value="">D、怠速不稳定
</label>
</div>
</div>




</div>
<div class="well">
<h5>三、排序选择题(答案请勾选)</h5>
<div class="picSelect">
	
<label for="name">
1．请从下列四个选项中挑选出组装汽车所需要的工具。(10分)</label>
	<div class="drop" xq_drop="true" >
		已选择项：
			
		</div>
		<div class="drop" xq_drop="true">
			<div class="drag" xq_drag="true" id="1">
				<img  src="img/a1.png" ondragstart="return false"/>
			</div>
			<div class="drag" xq_drag="true" id="2">
				<img  src="img/a2.png" ondragstart="return false"/>
			</div>
			<div class="drag" xq_drag="true" id="3">
				<img  src="img/a3.png" ondragstart="return false"/>
			</div>
			<div class="drag" xq_drag="true" id="4">
				<img  src="img/a4.png" ondragstart="return false"/>
			</div>
		</div>
</div>

<div class="picSelect">
	
<label for="name">
2．请对下列各组件进行安装位置排序。(10分)</label>
		<div class="drop" xq_drop="true">
			<div class="drag" xq_drag="true" id="1">
				<img  src="img/a1.png" ondragstart="return false"/>
			</div>
			<div class="drag" xq_drag="true" id="2">
				<img  src="img/a2.png" ondragstart="return false"/>
			</div>
			<div class="drag" xq_drag="true" id="3">
				<img  src="img/a3.png" ondragstart="return false"/>
			</div>
			<div class="drag" xq_drag="true" id="4">
				<img  src="img/a4.png" ondragstart="return false"/>
			</div>
			<div class="drag" xq_drag="true" id="1">
				<img  src="img/a1.png" ondragstart="return false"/>
			</div>
			<div class="drag" xq_drag="true" id="2">
				<img  src="img/a2.png" ondragstart="return false"/>
			</div>
			<div class="drag" xq_drag="true" id="3">
				<img  src="img/a3.png" ondragstart="return false"/>
			</div>
			<div class="drag" xq_drag="true" id="4">
				<img  src="img/a4.png" ondragstart="return false"/>
			</div>
			<div class="drag" xq_drag="true" id="1">
				<img  src="img/a1.png" ondragstart="return false"/>
			</div>
			<div class="drag" xq_drag="true" id="2">
				<img  src="img/a2.png" ondragstart="return false"/>
			</div>
			<div class="drag" xq_drag="true" id="3">
				<img  src="img/a3.png" ondragstart="return false"/>
			</div>
			<div class="drag" xq_drag="true" id="4">
				<img  src="img/a4.png" ondragstart="return false"/>
			</div>
		</div>
		<div style="margin-top: 10px;margin-bottom: 10px; width: 100%; ">
		<div class="drop" xq_drop="true" style="width: 30%;"></div>
		<div class="drop" xq_drop="true" style="width: 30%;"></div>
		<div class="drop" xq_drop="true" style="width: 30%;"></div>
		</div>
			<div style="margin-top: 10px;margin-bottom: 10px; width: 100%; ">
		<div class="drop" xq_drop="true" style="width: 30%;"></div>
		<div class="drop" xq_drop="true" style="width: 30%;"></div>
		<div class="drop" xq_drop="true" style="width: 30%;"></div>
		</div>
			<div style="margin-top: 10px;margin-bottom: 10px; width: 100%; ">
		<div class="drop" xq_drop="true" style="width: 30%;"></div>
		<div class="drop" xq_drop="true" style="width: 30%;"></div>
		<div class="drop" xq_drop="true" style="width: 30%;"></div>
		</div>
		
</div>

</div>

<div class="well">
<h5>四、主观简答题(答案请勾选)</h5>
	<div class="selfQues">
  <div class="form-group">
    <label for="name">1.什么是干式缸套？（10分）什么是湿式缸套？（10分）各有何优点？（20分）</label>
    <textarea class="form-control" rows="3" id = "ta"></textarea>
  </div>
<div class="selfQues">
  <div class="form-group">
    <label for="name">
2．活塞环在安装前如何进行选配？（20分）</label>
    <textarea class="form-control" rows="3"></textarea>
  </div>

</div>

</div>

	
</div>

<div class="well text-center" id = "wfBtn">
	<input type="button" class="btn btn-primary" value="完成试卷" onclick="finshQuesPage();" id = "fBtn"/>
</div>

<script src="js/XQ_drag.js"></script>

<script>
	function getSingleSelectValByName(name){
		$('input:radio[name="optionsRadios"]:checked').val();
	}
	function setTextAreaText(){
		var tList = $("textarea");
		$.each(tList, function(id,value) {
			$(value).text($(value).val());
		});
	}
	
	$(document).ready(function(){
		$("input:radio").click(function(id){
			var name = $(this).attr("name");
			$('input:radio[name='+name+']').removeAttr("checked");
			$(this).attr("checked",true);
			
		});
		$("input:checkbox").click(function(id){
			var ch = $(this).attr("checked");
			if(ch == null){
				$(this).attr("checked",true);
			}else{
				$(this).removeAttr("checked");
			}
		});
		
		
	});
	
	function saveQuesPage(userId,beginTime){
		var quesPage = $("#questionPage").html();
		var queId = $("#quesName").attr("queId");
		var score = getSocre();
		var data = {
			"userId" : userId,
			"queId" : queId,
			"quesPage":quesPage,
			"score":score,
			"beginTime":beginTime
		};
		data = JSON.stringify(data);
		getServer(data,apiUrl_v1_saveQuesPage,"","");
		//查看我的试卷 <=> 查看正确答案试卷
		userQuesPageScore = score;
		showSimpleModal("myModal","您的成绩","您获得了"+score+"分，请再接再厉呦!","modal/saveQuesFooter_modal.html");
		
	}
	function getSocre(){
		
		return 90;
	}
	
	function getQuesPageJson(){
		var queId = $("#quesName").attr("queId");
		var singleSelectJSONObject = getSingleSelects();
		var multSelectJSONObject = getMultSelects();
		var sortSelectJSONObject = getSortSelects();
		var areaJSONObject = getAreaTexts();
		
	}
	function finshQuesPage(){
		var userId = userInfo.id;
		var beginTime = quesBeginTime;
		saveQuesPage(userId,beginTime);
		
	}
</script>